<!DOCTYPE html>
<html lang="en">
<head>
  <title>Allocate Me</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <div class="container" role="main">
    <h1>Allocate Me</h1>
    <h2>Upload Timetable</h2>

    <form action="{{ url_for('upload') }}" class="dropzone " id="allocate-dropzone"></form>

    <footer>
      <p>Copyright <a href="http://www.seankozer.com/">Sean Kozer</a> &copy; 2017</p>
    </footer>
  </div>

  <script src="/static/bundle.js"></script>
</body>
</html>
